# list
* iteration operation with loop
* apply any operation on element

In [3]:
names : list[str] = ['sir Zia', 'Muhammad Qasim', 'dr noman']
print(names)

['sir Zia', 'Muhammad Qasim', 'dr noman']

In [4]:
names : list[str] = ['sir Zia', "Muhammad Qasim", "dr noman"]
for name in names:
    print(name)

sir Zia
Muhammad Qasim
dr noman

In [3]:
names : list[str] = ['sir Zia', "Muhammad Qasim", "dr noman"]

for name in names:
    print(f'welcome dear teacher {name.upper()}')
    print("PIAIC Gen AI team\n")

welcome dear teacher SIR ZIA
PIAIC Gen AI team

welcome dear teacher MUHAMMAD QASIM
PIAIC Gen AI team

welcome dear teacher DR NOMAN
PIAIC Gen AI team

In [8]:

data_base : list[tuple[str, str]] = [("qasim",'1234'),
                                     ("sir zia", '12345'),
                                    ]
for row in data_base:
    user, password = row
    print(user, password)

qasim 1234
sir zia 12345

In [2]:
cars :list[str] = ['audi', 'bmw', 'subaru', 'toyota']
for car in cars:
 if car == 'bmw':
    print(car.upper())
 else:
    print(car.title())

Audi
BMW
Subaru
Toyota

In [6]:
user_name : str = input("Enter your User Name\t :")
user_password : str = input("Enter password\t :")

if user_name == 'admin' and user_password == 'admin' :
    print("sent OTP  on your registered number")
    OTP : str = input("Please enter your OTP")
    if OTP == '123':
        print("welcome to PIAIC")
else:
    print("Invaild username or password")

sent OTP  on your registered number
welcome to PIAIC